@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0px;
}
   
::-webkit-scrollbar-thumb {
    background: #2563eb; 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #033ebd; 
}

/* x-cloak for apine-js */
[x-cloak] {
    display: none !important;
}

[hover-scrollbar] {
    overflow-x: 'visible';
    overflow-y: hidden;
}

[hover-scrollbar]:hover {
    overflow-y: auto
}

[scrollbar-thin]
{
    scrollbar-width: thin !important;
}

/* prevent selectable element */
.no-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-select:focus {
    outline: none !important;
}